body{
	background: url(../images/notebook.png);
}

h1{
	text-align: center;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

#hta{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#colour_scheme{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#lines{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#font_scheme{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#anl{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#references{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

#hosting{
	text-align: left;

	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 50px;
	margin-bottom: 10px;
	padding: 0px 0px 6px 0px;
	font-size: 25px;
	line-height: 44px;
	letter-spacing: .5px;
	font-weight: bold;
}

p{
	text-align: left;
	color: black;
	font-family: sans-serif;
	margin-left: 50px;
}

li{
	text-align: left;
	color: black;
	font-family: sans-serif;
	margin-left: 50px;
}

#sub1,#sub2{
	font-style: italic;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
